<h2><u>Predictive Analystics</u></h2>

# Module 2 – Probability Part 1
<h2> In-class Practice Questions </h2>

#### Import libraries

In [1]:
import numpy as np
import pandas as pd

#### Read marveldata.csv file and print top five rows from the dataset

In [2]:
df = pd.read_csv('marveldata.csv')
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

#### Calculate total number of character counts

In [3]:
x = len(df['name'])
x

16376

#### Display columns SEX, EYE, HAIR

In [4]:
marvel = df[['SEX','EYE','HAIR']]
marvel

                     SEX          EYE         HAIR
0        Male Characters   Hazel Eyes   Brown Hair
1        Male Characters    Blue Eyes   White Hair
2        Male Characters    Blue Eyes   Black Hair
3        Male Characters    Blue Eyes   Black Hair
4        Male Characters    Blue Eyes   Blond Hair
5        Male Characters    Blue Eyes      No Hair
6        Male Characters   Brown Eyes   Brown Hair
7        Male Characters   Brown Eyes   Brown Hair
8        Male Characters   Brown Eyes   Brown Hair
9        Male Characters    Blue Eyes   Blond Hair
10       Male Characters    Blue Eyes    Blue Hair
11     Female Characters    Blue Eyes   Blond Hair
12       Male Characters   Green Eyes   Black Hair
13     Female Characters    Blue Eyes   White Hair
14       Male Characters    Blue Eyes   Blond Hair
15       Male Characters    Blue Eyes     Red Hair
16       Male Characters    Grey Eyes   Black Hair
17     Female Characters   Green Eyes     Red Hair
18       Male Characters    Blue Eyes   Black Hair
19       Male Characters   Brown Eyes   Brown Hair
20       Male Characters    Blue Eyes   Blond Hair
21       Male Characters    Blue Eyes         Bald
22       Male Characters    Blue Eyes   Blond Hair
23       Male Characters    Blue Eyes   Black Hair
24     Female Characters   Green Eyes   Brown Hair
25       Male Characters   Brown Eyes   Brown Hair
26     Female Characters    Blue Eyes  Auburn Hair
27     Female Characters   Green Eyes     Red Hair
28     Female Characters   Green Eyes     Red Hair
29       Male Characters  Yellow Eyes    Blue Hair
...                  ...          ...          ...
16346    Male Characters          NaN          NaN
16347                NaN          NaN          NaN
16348                NaN          NaN      No Hair
16349    Male Characters   White Eyes          NaN
16350                NaN          NaN          NaN
16351    Male Characters          NaN   Black Hair
16352    Male Characters          NaN          NaN
16353    Male Characters          NaN          NaN
16354    Male Characters          NaN          NaN
16355    Male Characters          NaN          NaN
16356    Male Characters          NaN      No Hair
16357    Male Characters          NaN          NaN
16358  Female Characters          NaN   Blond Hair
16359    Male Characters   Black Eyes      No Hair
16360  Female Characters   Black Eyes    Grey Hair
16361  Female Characters          NaN          NaN
16362  Female Characters     Red Eyes          NaN
16363    Male Characters   Black Eyes         Bald
16364    Male Characters   Hazel Eyes         Bald
16365    Male Characters          NaN          NaN
16366  Female Characters   Brown Eyes   Black Hair
16367    Male Characters   Hazel Eyes         Bald
16368  Female Characters          NaN   Brown Hair
16369  Female Characters    Blue Eyes   Black Hair
16370                NaN          NaN          NaN
16371    Male Characters   Green Eyes      No Hair
16372    Male Characters    Blue Eyes         Bald
16373    Male Characters   Black Eyes         Bald
16374    Male Characters          NaN          NaN
16375                NaN          NaN          NaN

[16376 rows x 3 columns]

#### Calculate total number of characters according to gender

In [5]:
char = df.groupby(['SEX']).count()['name']
print(char)

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

### Question 1 - Marginal Probability

### Calculate the probability of a character being male.

In [6]:
#Probability of character being male
char['Male Characters']/x

0.7106741573033708

### Question 2 - Joint Probability

### Calculate the probability of a character being female with red hair.

Assume that both the events are independent of each other.

#### Calculate probability of character being female

In [7]:
female=char['Female Characters']/x
female

0.23430630190522717

#### Calculate count of different hair color

In [8]:
hair=df.groupby(['HAIR']).count()['name']
print(hair)

HAIR
Auburn Hair                78
Bald                      838
Black Hair               3755
Blond Hair               1582
Blue Hair                  56
Bronze Hair                 1
Brown Hair               2339
Dyed Hair                   1
Gold Hair                   8
Green Hair                117
Grey Hair                 531
Light Brown Hair            6
Magenta Hair                5
No Hair                  1176
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                47
Red Hair                  620
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              32
White Hair                754
Yellow Hair                20
Name: name, dtype: int64

#### Calculate probability of character having a red hair

In [9]:
red_hair=hair['Red Hair']/x
print(red_hair)

0.03786028334147533

#### Calculate probability of character being female and has red hair i.e., joint probability

In [10]:
#Probability of character being female and has red hairs
print(female*red_hair)

0.008870902978825162

#### Calculate joint probability in terms of percentage

In [11]:
print(female*red_hair*100)

0.8870902978825161